.menu {
  color: #ffffff;
}

.top-bar {
  font-size: 200%;
}

.top-bar a {
  color: #ffffff;
  font-size: 80%
}

.site-name {
  font-family: 'Gloria Hallelujah', cursive;
}

h1 {
  font-family: Arvo, serif;
}

label {
  color: #ffffff;
  font-size: 115%;
}

.text-center {
  margin: auto;
}

.flash {
  font-size: medium;
  background: #996789;
  text-align: center;
}
